body{
    font-family: Garamond, serif;
}
h1{
    font-family: Helvetica, sans-serif;
    text-align: center;
}
h2{
    text-align: center;
}
.forma{
    width: 30%;
    border: solid 2px gray;
    border-radius: 4px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}

.forma1{
    padding-left: 20px;
}
.otvet{
    text-align: center;
    font-size: 1.5em;
}
input[type=text]{
    width: 150px;
    border: solid 2px gray;
    border-radius: 4px;
    outline: none;
    padding: 12px 20px;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus{
    width: 70%;
    background-color: lightgoldenrodyellow;
}